@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--primary-color-dark);
  border-bottom-color: var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.heading{
	text-align: center;
	padding: 2.5rem 0;
}

.heading span{
	font-size: 1.5rem;
	background: rgba(159, 107, 255, 0.2);
	color: #a855f7;
	border-radius: .2rem;
	padding: .2rem 1rem;
}

.heading span.space{
	background: none;
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns .mylink {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white; /* Atur sesuai kebutuhan */
  background-color: var(--primary-color); /* Atur sesuai kebutuhan */
}

.action__btns .mylink:hover {
  background-color: var(--primary-color-hover); /* Atur sesuai kebutuhan */
  color: #a855f7; /* Atur sesuai kebutuhan */
}


.mycv {
  background-color: var(--primary-color);
  color: #ffffff;
}

.mycv:hover {
  background-color: var(--primary-color-dark);
}

.myport {
  color: var(--primary-color);
}

.myport:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(30rem, 90%);
  border-radius: 100%;
}

.about .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.about .box-container .box{
  overflow: hidden;
  box-shadow: rgba(159, 107, 255, 0.2);
  border: 1rem solid #faf5ff;
  border-radius: .5rem;
  flex:1 1 20rem;
  height: 15rem;
  position: relative;
}

.about .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about .box-container .box .content{
  position: absolute;
  top: -100%; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(159, 107, 255, 0.2);
  padding: 1rem;
  padding-top: 3rem;
}

.about .box-container .box:hover .content{
  top: 0;
}

.about .box-container .box .content h1{
  font-size: 1rem;
  color: #f3f3f3;
}

.about .box-container .box .content p{
  font-size: 1rem;
  color: #eee;
  padding: .5rem 0;
}

.services .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.services .box-container .box{
	flex: 1 1 20rem;
	border-radius: .5ren;
	padding: 1rem;
	text-align: center;
    overflow: hidden;
	box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.1);
}

.services .box-container .box i{
	padding: 1rem;
    font-size: 5rem;
    color: #9333ea;
}

.services .box-container .box h1{
    font-size: 1.5rem;
    color: #333;
}

.services .box-container .box p{
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.section__container1 {
  padding: 10rem 1rem 5rem 1rem;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

.action__btns1 {
  display: block;
  gap: 1rem;
  text-align: center;
}

.action__btns1 button {
  display: block; /* Membuat tombol menjadi blok, sehingga akan berada satu di bawah yang lain */
  margin: 10px auto; /* Memberikan jarak antara tombol-tombol */
  width: 950px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--primary-color); /* Warna tombol */
  color: white;
}

.action__btns1 button:hover {
  background-color: var(--primary-color-hover); /* Warna tombol saat dihover */
  color: #a855f7;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .section__container1 {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .action__btns1 button {
    width: 80%;
    font-size: 1rem;
    padding: 1rem;
  }
}
